#background-video {
  position: absolute;
  inset: 0;
  z-index: -1;

  .background-box {
    display: flex;
    z-index: auto;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      140deg,
      #00000069,
      #00000000 2px,
      #00000069 2px,
      #00000000 2px
    );
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100.75px);

  &__card {
    width: 90%;
    max-width: 20rem;

    &__auth-action {
      position: relative;

      & > span {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        color: #999;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &__arrow-icon {
        width: 0.8rem !important;
        height: 0.8rem !important;
        margin-top: 0.15rem;
      }
    }

    &__first-name-input,
    &__last-name-input,
    &__email-input,
    &__password-input {
      width: 100%;

      div > input {
        padding: 0.5em;
      }
    }
  }
}
