.box-name-change {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;

    .MuiCardContent-root {
      background-color: #020202;
      border: 1px solid #181818;
    }
  
    &-card {
      width: 90%;
      max-width: 20rem;
  
      &-input {
        width: 100%;
  
        div > input {
          padding: 0.5em;
        }
      }
    }
  }
  