* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.background {
  height: 100vh;
  background-color: black;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(
      180deg,
      transparent 14%,
      rgba(0, 0, 0, 0.3) 49%,
      rgba(0, 0, 0, 0.3) 85%,
      transparent
    ),
    url(https://developer.imdb.com/hero-dynamic.jpg);
}

h1 {
  text-align: center;
  padding-top: 300px;
  font-family: var(--ipt-font-family);
  letter-spacing: 10px;
  text-decoration: inherit;
  text-transform: inherit;
  font-weight: 600;
  -webkit-font-smoothing: auto;
  color: #fff;
  font-size: 80px;
  line-height: 1em;
}
