.box-account-data {
    display: flex;
    justify-content: center;

    &-list {
      &-item {
        font-size: 1.2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0.5em;
      }
    }

    .MuiCardContent-root {
      background-color: #020202;
      border: 1px solid #181818;
    }
  
    &-card {
      width: 90%;
      max-width: 20rem;
    }
    .colored-data {
      color: #fa62e1;
    }
  }
  