.header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding: 0.7em;
    //box-shadow: 0 0 2em #ff00bf40;
    //border-bottom: 1px solid #ff00bf40;
    border-bottom: 1px solid #181818;

    .header-logo {
        a {
            font-weight: bold;
            color: #fff;
            font-size: 2em;
        }
    }

    .header-box {
        display: flex;
        padding: 0.7em;

        a {
            font-weight: bold;
            text-transform: uppercase;
            color: #fa62e1;
            text-decoration: none;
            margin-left: 20px;
            margin-right: 5px;
        }

        a:hover {
            color: #ac0582;
        }

        small {
            color: #666;
        }
        .active {
            color: #ac0582;
        }
    }
}
